services:
  - type: web
    name: fastapi-points-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main_sqlalch:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.0
      - key: APP_URL
        sync: false
  
  - type: worker
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.0
